@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*
{
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* NAVBAR */
.nav-bar{
    position: sticky;
    top: 0;
    z-index: 9;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: -8px -8px 0px -8px;
    background-color: rgb(1, 128, 106);
    border-bottom: 5px solid rgb(247, 177, 188);
}

a{
    display: block;
    font-family: 'Josefin Slab', serif;
    font-size: 25px;
    font-weight: 800;
    color: rgb(247, 177, 188);
    text-align: center;
    min-width: 100px;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
}

a:hover, .drop:hover a:only-of-type{
    background-color: rgb(149, 238, 223);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
    transition: background-color 0.3s ease-in;
}

.drop{
    position: relative;
}

.rollover-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
    flex-direction: column;
}

.rollover-menu a{
    width: 100%;
    padding: 12px 20px;
    text-align: left;
    display: block;
}

.drop:hover .rollover-menu{
    display: flex;
}

.rollover-menu a{
    color: rgb(0, 80, 67);
}

.rollover-menu a:hover{
    background-color: rgb(149, 238, 223);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(90, 90, 90, 0.2);
}

.rollover-menu a:nth-child(1){
    border-top: 5px solid rgb(238, 118, 136);
}

footer{
    align-items: center;
    margin: 0px -8px -8px -8px;
    background-color: rgb(1, 128, 106);
    border-top: 5px solid rgb(247, 177, 188);
    bottom: 0;
}

table{
   width: 100%;
   margin: 0px -8px -8px -8px;
   background-color: rgb(1, 128, 106);
   border-top: 5px solid rgb(247, 177, 188);
}

td{
    width: 33%;
}

td p{
    font-family: 'josefin slab', serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(247, 177, 188);
}

.container{
    display: inline-block;
    background-size: 100%;
    padding-top: 60px;
    padding-left: 30px;
}



.column img{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4),
        0 6px 20px 0 rgba(0, 0, 0, 0.2);
}









.column img{
    width: 100%;
    max-width: 420px;
    height: auto;
    object-fit: cover;
}


h1{
    font-family: 'Sacramento', cursive;
    font-size: 80px;
    color:rgb(0, 80, 67);
    text-align: center;
}

h2, h3, h4{
    font-family: 'Josefin Slab', serif;
    text-align: center;
}

h2{
    color:rgb(0, 80, 67);
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: rgb(247, 177, 188);
}

h3{
    font-size: 30px;
}

h4{
    font-size: 15px;
    text-decoration: underline;
    text-transform: uppercase;
}

p{
    font-family: josefin slab, serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 80, 67);
    text-align: center;
}

.column{
    float: left;
    width: 48%;
    padding: 10px;
}

.column img:nth-child(-n + 7){

    width: 500px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4),
    0 6px 20px 0  rgba(0, 0, 0, 0.2);
}

footer{
    align-items: center;
    margin: 0px -8px -8px -8px;
    background-color: rgb(1, 128, 106);
    border-top: 5px solid rgb(247, 177, 188);
    bottom: 0;
}

table{
    width: 100%;
}

td{
    width: 33%;
}

td p{
    font-family: 'josefin slab', serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(247, 177, 188);
}

.container{
    display: inline-block;
    background-size: 100%;
    padding-top: 60px;
    padding-left: 30px;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 80px;
    color:rgb(0, 80, 67);
    text-align: center;
}

h2, h3, h4{
    font-family: 'Josefin Slab', serif;
    text-align: center;
}

h2{
    color:rgb(0, 80, 67);
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: rgb(247, 177, 188);
}

h3{
    font-size: 30px;
}

h4{
    font-size: 15px;
    text-decoration: underline;
    text-transform: uppercase;
}

p{
    font-family: josefin slab, serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 80, 67);
    text-align: center;
}

.column{
    float: left;
    width: 48%;
    padding: 10px;
}

@media screen and (max-width: 1200px){
    .column{
        width: 100%;
        padding: 0px;
        margin-left: -15px;
    }
}

.column img:nth-child(-n + 7){
    width: 500px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4),
    0 6px 20px 0  rgba(0, 0, 0, 0.2);
}

.recipe-container{
    width: 500px;
    height: 350px;
    margin: 100px auto 180px;
    perspective: 1000px;
}

@media screen and (max-width: 600px) {
    .column img:nth-child(-n + 7){
        width: 350px;
        height: 225px;
    }
}

.recipe-container{
    width: 350px;
    height: 225px;
}

.recipe-card-background{
    background-color: rgb(149, 238, 223);
}

@media screen and (max-width: 1200px){
    #pork{
        background-color: rgb(255, 255, 255);
    }
    #biscuits{
        background-color: rgb(149, 228, 223);
    }
}

#Featured-header{
    font-family: 'Sacramento', cursive;
    font-family: 60px;
    color: rgb(0, 80, 67);
}

#Featured-main-text{
    text-align: justify;
    padding-top: 20px;
    margin-left: 40px;
}

@media screen and (max-width: 1200px){
    #Featured-main-text{
        margin-left: 0;
    }
}

@media screen and (min-width: 1600px){
    #featured img{
        width: 700px;
        height: auto;
        margin-left: -100px;
        margin-top: -20px;
    }
}

@media scree and (max-width: 1599px){
    #featured img{
        margin-left: 0px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 600px){
    #Featured .recipe-card-background{
        height: 300px;
    }
    #featured img{
        margin-top: -65px;
    }
}

#Featured-button{
    display: block;
    margin: 60px auto 0px;
    background-color: rgb(1, 128, 106);
    border-radius: 35px;
    border: none;
    font-family: 'josefin', serif;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 25px;
    color: white;
    cursor: pointer;
}

#Featured-button:hover{
    background-color: rgb(247, 177, 188)
}

.flip{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.5s ease-in-out;
    transform-style: preserve-3d;
}

.flip:hover{
    transform: rotateY(-180deg);
}

.flip-front, .flip-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-back{
    background-color: rgb(149, 228, 223);
    border: 2px solid white;
    transform: rotateY(180deg);

}

.text-container{
    padding-top: 70px;
}

@media screen and (max-width: 600px){
    .text-container{
        padding-top: 0px;
    }
}

input[type="button"]{
    background-color: #fff;
    border: none;
    border-radius: 20px;
    font-family: 'Josefine Slab', serif;
    font-weight: bold;
    font-size: 22px;
    padding: 11px 17px;
    color: rgb(1, 128, 106);
    cursor: pointer;
}

input[type="button"]:hover{
    background-color: rgb(247, 177, 188);
    color: white;
}

#contact{
    display: block;
    margin-bottom: 70px;
}

form{
    display: table;
    pad: 15px;
    margin-left: auto;
    margin-right: auto;
}

form input{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: rgb(165, 165, 165);
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
    padding: 3px;
    margin: 10px 15px 10px 0px;
    transition: 0.3s ease-out;
}

form input:focus{
    border: 2px solid rgb(1, 128, 106);
    color: black;
    outline: none;
    transition: 0.3s ease-out;
}

label{
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-weight: solid;
    margin: 10px;
}

textarea{
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: both;
    border: 3px solid rgb(165, 165, 165);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(165, 165, 165);
    font-size: 15px;
    transition: 0.3s ease-out;
}

textarea:focus{
    color: black;
    border: 3px solid rgb(1, 128, 106);
    transition: 0.3s ease-out;
    outline: none;
}

input[type="submit"]{
    background-color: rgb(1, 128, 106);
    border: none;
    border-radius: 35px;
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    float: right;
}

input[type="submit"]:hover{
    background-color: rgb(247, 177, 188);
}

#about{
    padding: 60px 30px;
    background-color: rgb(249, 238, 240);
    text-align: center;
}

#about p{
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    text-align: center;
}


html{
    scroll-behavior: smooth;
}

/*Recipe Modal*/

.recipe-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
}

.recipe-content{
    position: relative;
    background-color: rgb(255, 255, 255);
    top: 15vh;
    left: 27vw;
    width: 45vw;
    height: 70%;
    box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.close-btn{
    color: rgb(1, 128, 106);
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
    float: right;
    padding-right: 10px;
}

.modal-header{
    padding-top: 20px;
}

.modal-body{
    padding: 20px;
}

.row{
    display: flex;
    justify-content: center;
}

.rp-column-1{
    width: 33%;
}

.rp-column-2{
    width: 67%;
}

.recipe-list{
    margin-left: -30px;
    font-family: "Josefin-Slab", serif;
    font-size: 18px;
    display: block;
    border: none;
    background-color: transparent;
    line-height: 1.5;
    text-align: center;
}

.recipe-directions{
    padding: 0px 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}